<div class="pageTile_wrapper">
  <div class="text_content">
    <div class="title">YONNY</div>
    <div class="des">yonny (juan gualberto ib치침ez g칩mez, la habana, 1933-2010). pintor, escultor, poeta. nieto de juan gualberto g칩mez.
    </div>
    <!-- <div class="des"><a href="http://www.habanaelegante.com/Winter2001/Cafe.html">articulo sobre yonny en la habana elegante (2001)</a></div> -->

  </div>
</div>
<div class="yonnyPhoto">
  <img style="float: left" src="/static/images/yonny1.jpg">
  <img style="float: right;" src="/static/images/yonny3.jpg">
  <img style="float: right;" src="/static/images/yonny2.jpg">
</div>
