

<div class="mask_top"></div>
<div class="yonny_poem_wrapper">

	<div class="poemList">
		<ul>
			<li><a>IT SEEMS THAT HAPPINESS...</a></li>
			<li><a>TU CUERPO...</a></li>
			<li><a>RÉPROBOS</a></li>
			<li><a>...CON LAS ALMENDRAS</a></li>
			<li><a>ENTIDAD</a></li>
			<li><a>SICALIPSIS</a></li>
			<li><a>SICALIPSIS</a></li>
			<li><a>SICALIPSIS</a></li>
			<li><a>SICALIPSIS</a></li>
			<li><a>SICALIPSIS</a></li>
			<li><a>SICALIPSIS</a></li>
		</ul>

	</div>
</div>
<div class="imageWrapper">
	<div class="yonnyImage">
		<img src="/static/images/yonnyPoemImage.jpg">
	</div>
</div>

<div class="mask_bottom"></div>