extends layouts/main

block content
		.stage-bg
			.jcarousel-wrapper
				// Carousel
				.jcarousel
					ul.clearfix
						each galery in favoriteGaleries
							li
								a(href='/galery/'+galery._id)
									img(src='/static/images/galery/'+galery.titlePicture)
									//
										<div class="ui basic segment description">
										<h3 class="ui yellow header">{{this.title}}</h3>
										<p>
										{{this.location}}<br />
										{{formatDateString this.dateOfPlay}}<br />
										Dirección artística: {{this.director}}
										</p>
										</div>
