<div class="ui page grid footer">
  <div class="row">
    <div class="column">
      <p class="copyright">© 2018 | ernst rudin | 
      <a href="/impressum">contacto & créditos</a> | 
      <a href="/admin">admin</a>
      </p>
    </div>
  </div>
</div>
