<!-- <div class="ui page grid">
	<div class="container left aligned stackable row top">
			<a href="/"><img width="250" height="67" class="logo" src="/static/images/logo_elneto.png" /></a>
			<ul class="ui horizontal list nav">
				<a class="item {{#if active.teatro_cubano}}active{{/if}}" href="/teatro-cubano">Teatro Cubano</a>
				<a class="item {{#if active.danza}}active{{/if}}" href="/danza">Danza</a>
				<a class="item {{#if active.musik}}active{{/if}}" href="/musica">Música</a>
				<a class="item {{#if active.theater}}active{{/if}}" href="/teatro">Teatro</a>
				<a class="item {{#if active.yonny}}active{{/if}}" href="/yonny">Yonny</a>
			</ul>
	</div>
</div>
 -->


	<div class="menuBar goToTop">
		<a href="/"><div class="title">elneto • Fotos</div></a>
		<div class="menu">
			<a class="item {{#if active.teatro_cubano}}active{{/if}}" href="/teatro-cubano">Teatro Cubano</a>
			<a class="item {{#if active.danza}}active{{/if}}" href="/danza">Danza</a>
			<a class="item {{#if active.musik}}active{{/if}}" href="/musica">Música</a>
			<a class="item {{#if active.theater}}active{{/if}}" href="/teatro">Teatro</a>
			<a class="item {{#if active.yonny}}active{{/if}}" href="/yonny">Yonny</a>
		</div>

	</div>