<div class="pageTile_wrapper">
	<div class="text_content">
    <div class="title">Danza</div>
    <div class="des">
      {{> textcontent}}
    </div>
	</div>
</div>

<div class="albums_wrapper justified-gallery" id="albumList">
	{{#each galeries}}
	<a href="/galery/{{this._id}}" data-id="{{this._id}}">
		<img alt="{{this.title}}" src="{{this.titlePicture}}"/>
	</a>
	{{/each}}
</div>



