<div class="ui page grid" style="margin-top:7rem;">
  <div class="row">
    <div class="column">
      <div class="ui inverted segment">
        <h1>{{message}}</h1>
        <h2>{{error.status}}</h2>
        <pre>{{error.stack}}</pre>
      </div>
    </div>
  </div>
</div>
