extends layouts/main

block content
		.ui.stackable.page.grid
			.two.column.row.container
				.column
					a(href='/teatro-cubano')
						i.double.angle.left.icon
						| volver | back
				.right.aligned.column
					=galery.title + " | elneto"
		.galleria
