
<!-- ============= from here below are for the album inside page =========-->


<div class="pageTile_wrapper">
	<div class="text_content">
		<div class="title">Teatro Cubano</div>
		<div class="des">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
	</div>
</div>


 
<div class="albums_wrapper justified-gallery my-gallery" id="albumSelf">

	<figure>
		<a href="https://images.unsplash.com/photo-1520647593701-4e9951e22428?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7c7fad58b363a2c01d52eb9c5d483167&auto=format&fit=crop&w=500&q=60" data-size="1024x1024">
			<img alt="caption for image 1" src="https://images.unsplash.com/photo-1520647593701-4e9951e22428?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7c7fad58b363a2c01d52eb9c5d483167&auto=format&fit=crop&w=500&q=60"/>
		</a>
		<figcaption itemprop="caption description">Image caption  1</figcaption>
	</figure>


	<figure>
		<a href="https://images.unsplash.com/photo-1516476643801-3748856d17c1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ee7f14db4ae5132ad465b4e5c0fa21df&auto=format&fit=crop&w=500&q=60" data-size="1024x1024">
			<img alt="caption for image 1" src="https://images.unsplash.com/photo-1516476643801-3748856d17c1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ee7f14db4ae5132ad465b4e5c0fa21df&auto=format&fit=crop&w=500&q=60"/>
		</a>
		<figcaption itemprop="caption description">Image caption  1</figcaption>
	</figure>


	<figure>
		<a href="https://images.unsplash.com/photo-1493546109643-cd9fda7b38fe?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b4d5ccc45de5d32f03cd22958c6f6b85&auto=format&fit=crop&w=500&q=60" data-size="1024x1024">
			<img alt="caption for image 1" src="https://images.unsplash.com/photo-1493546109643-cd9fda7b38fe?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b4d5ccc45de5d32f03cd22958c6f6b85&auto=format&fit=crop&w=500&q=60"/>
		</a>
		<figcaption itemprop="caption description">Image caption  1</figcaption>
	</figure>


	<figure>
		<a href="https://images.unsplash.com/photo-1508349937151-22b68b72d5b1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6ab9aab3fb12c6b367439d2acea49898&auto=format&fit=crop&w=334&q=80" data-size="1024x1024">
			<img alt="caption for image 1" src="https://images.unsplash.com/photo-1508349937151-22b68b72d5b1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6ab9aab3fb12c6b367439d2acea49898&auto=format&fit=crop&w=334&q=80"/>
		</a>
		<figcaption itemprop="caption description">Image caption  1</figcaption>
	</figure>

	<figure>
		<a href="https://images.unsplash.com/photo-1508749627231-ce8a002264e9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=489d758ee431756f66ac69c154427afb&auto=format&fit=crop&w=500&q=60" data-size="1024x1024">
			<img alt="caption for image 1" src="https://images.unsplash.com/photo-1508749627231-ce8a002264e9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=489d758ee431756f66ac69c154427afb&auto=format&fit=crop&w=500&q=60"/>
		</a>
		<figcaption itemprop="caption description">Image caption  1</figcaption>
	</figure>

	<figure>
		<a href="https://images.unsplash.com/photo-1516054782498-beb65831f3a6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4bece8586616ced7b43f16ecd3f14b4e&auto=format&fit=crop&w=500&q=60" data-size="1024x1024">
			<img alt="caption for image 1" src="https://images.unsplash.com/photo-1516054782498-beb65831f3a6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4bece8586616ced7b43f16ecd3f14b4e&auto=format&fit=crop&w=500&q=60"/>
		</a>
		<figcaption itemprop="caption description">Image caption  1</figcaption>
	</figure>

	<figure>
		<a href="https://images.unsplash.com/photo-1502036553-38f7ef7bcade?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=da4c0d496cf12b6228af238ad6b13361&auto=format&fit=crop&w=500&q=60" data-size="1024x1024">
			<img alt="caption for image 1" src="https://images.unsplash.com/photo-1502036553-38f7ef7bcade?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=da4c0d496cf12b6228af238ad6b13361&auto=format&fit=crop&w=500&q=60"/>
		</a>
		<figcaption itemprop="caption description">Image caption  1</figcaption>
	</figure>
	


	<figure>
		<a href="https://images.unsplash.com/photo-1500393600906-a3136b3c5f70?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=43f68365543ecc00817d158627c4406a&auto=format&fit=crop&w=500&q=60" data-size="1024x1024">
			<img alt="caption for image 1" src="https://images.unsplash.com/photo-1500393600906-a3136b3c5f70?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=43f68365543ecc00817d158627c4406a&auto=format&fit=crop&w=500&q=60"/>
		</a>
		<figcaption itemprop="caption description">Image caption  1</figcaption>
	</figure>



</div>




<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe. 
         It's a separate element, as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
        <!-- don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div> 
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

          </div>

        </div>

</div>