<div class="impressum">
	<div class="container">
		<p>contenidos | © fotos: Ernst Rudin | erudin [arroba|at] elneto.com<p>
			<p>programación | diseño web: Florian Rudin flaudre[arroba|at] gmail.com</p>
			<p>quien no quiera que una imagen suya aparezca aquí, que me lo comunique</p>
			<p>should you not want that a picture of you appears here, let me know</p>
			<p>wer nicht möchte, dass sein oder ihr bild hier erscheint, kann mir das mitteilen</p>
		</div>
	</div>
