<div class="pageTile_wrapper">
  <div class="text_content">

    <p>© fotos: Ernst Rudin</p>

    <p>© diseño web: tb6<br />
    flaudre | at | gmail.com</p>

    <p>Contacto para informarse sobre fotos impresas o si alguien no quiere que su foto aparezca en esta página:</p>

    <p>erudin | at | elneto.com</p>

    <p>For information on prints or if someone doesn’t want his or her picture to be shown on this site, contact:</p>

    <p>erudin | at | elneto.com</p>

    <p>Informationen zu Foto-Abzügen oder falls jemand nicht möchte, dass sein oder ihr Bild auf dieser Website erscheint:</p>

    <p>erudin | at | elneto.com</p>

  </div>
</div>
