<div class="pageTile_wrapper">

	<div class="text_content">
    <div class="title">Teatro Cubano</div>
    <div class="des">
      {{> textcontent }}
    </div>
	</div>




</div>

<div class="albums_wrapper justified-gallery" id="albumList">
  {{#each galeries}}
  <a href="/galery/{{this._id}}" data-id="{{this._id}}">
    <img alt="{{this.title}}" src="/uploads/thumbs/{{this.titlePicture}}"/>
  </a>
  {{/each}}
</div>

<div class="pageTile_wrapper">
  <form action="/search-results" id="search-form">

    {{> teatre-search-bar }}
  </form>
</div>
