<div class="pageTile_wrapper">
  <div class="text_content">
    <div class="title">Teatro Cubano</div>
    <div class="des">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
  </div>
  <div class="search teatro-cubano">
    <div class="des"><i>banco de datos de puestas en escena en la habana de 1945 a 1995</i></div>
    <div class="searchBar">
      <input id="search-query" name="q" class="prompt" type="text" placeholder="Buscar Autor, Obra, Año, Dirige" autocomplete="off">
      <i class="search icon"></i>
    </div>
    <button class="button btn-2" type="submit" value="resultados"><span>resultados</span></button>
  </div>
</div>

<div class="albums_wrapper justified-gallery" id="albumList">
  {{#each galeries}}
  <a href="/galery/{{this._id}}" data-id="{{this._id}}">
    <img alt="{{this.title}}" src="/uploads/thumbs/{{this.titlePicture}}"/>
  </a>
  {{/each}}
</div>


<!-- database search -->


<div class="ui page grid default-content">
  <div class="two column row">
    <div class="centered right aligned column">

      <h2>banco de datos de puestas en escena en la habana de 1945 a 1995</h2>

      {{> search}}
    </div>
  </div>
</div>
