<div class="ui page grid default-content">
  <div class="row">
    <div class="column">
      <p>Successfully logged out.</p>
      <p>
      <a href="/">Back to homepage</a>
      </p>
    </div>
  </div>
</div>
