<div class="sixteen wide column">

  <div class="ui error message" style="display:none;">
    <i class="close icon"></i>
    <div class="header"></div>
    <p class="message"></p>
  </div>

  <h2 class="ui inverted header">{{#if active.create }}Create New{{/if}}{{#if active.modify }}Modify{{/if}} Poem</h2>
  <div class="ui inverted segment">
    {{> admin/cuadro-form }}
  </div>
</div>
