// main.css for elneto.com

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');


   html,
   button,
   input,
   select,
   textarea {
   	color: #222;
   }

   html {
   	font-family: 'Open Sans', sans-serif;
   	font-size: 1em;
   	line-height: 1.4;
   }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

 ::-moz-selection {
 	background: #b3d4fc;
 	text-shadow: none;
 }

 ::selection {
 	background: #b3d4fc;
 	text-shadow: none;
 }

/*
 * A better looking default horizontal rule
 */

 hr {
 	display: block;
 	height: 1px;
 	border: 0;
 	border-top: 1px solid #ccc;
 	margin: 1em 0;
 	padding: 0;
 }

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

 audio,
 canvas,
 img,
 video {
 	vertical-align: middle;
 }

/*
 * Remove default fieldset styles.
 */

 fieldset {
 	border: 0;
 	margin: 0;
 	padding: 0;
 }

/*
 * Allow only vertical resizing of textareas.
 */

 textarea {
 	resize: vertical;
 }

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

   .browsehappy {
   	margin: 0.2em 0;
   	background: #ccc;
   	color: #000;
   	padding: 0.2em 0;
   }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   @import "../vendor/semantic/src/site/globals/site.variables";



   .construccion{
   	font-style:italic;
   }

   .searchdb_form{
   	margin-bottom:1rem;
   }

   .searchdb{
   	label{line-height:2.4rem;}
   }



   .transition(@property: all){
   	-webkit-transition: @property 300ms ease-in-out;
   	-moz-transition: @property 300ms ease-in-out;
   	-o-transition: @property 300ms ease-in-out;
   	transition: @property 300ms ease-in-out;	
   }



   .ui.page.grid .row.container.narrow{
   	max-width:495px !important;
   }

   .ui.horizontal.list.nav{
   	margin-top:1rem;
   	> .item{
   		color:@midWhite;

		// font-family:'Bembo W01 Normal';
		font-weight:400;
		font-style: normal;

		font-size:1.5rem;
		margin-right:1rem;
		margin-left:0rem;
		padding:0 0 3px;
		
		border-bottom: 2px solid @transparentWhite;

		&:hover, &.active{
			border-color:@lightYellow;
		}
	}	
}


.galleria{
	width:100%;
	height:95%;
}

.galery-details{
	color: rgba(255,255,255,0.85);	

	position:relative;


	.info-popup{
		right:0;
		padding:5px;
		position:absolute;
		z-index:1001;
		background:rgba(0,0,0,0.3);
	}
}

.ui.page.grid > .row.top{
	margin-bottom:20px;
	margin-top:2rem;
}

img.logo{
	margin-left:1rem;
	margin-top:-20px;
}

.container{
	margin-right:auto;
	margin-left:auto;
}

.ui.page.grid > .row.container > .column{
	padding:0 !important;
}

.galery-title{
	position:relative;
	display:block;

	overflow:hidden;
	
	.info{
		position:absolute;
		width:100%;
		bottom:-100%;
			//margin-top:-25px;
			background:rgba(0,0,0,0.8);
			.transition(top);

			.line.title{
				display:block;
				height:32px;
				padding-top:3px;
				overflow:hidden;
				color:rgba(255,255,255,0.8);
				font-size:1.3rem;
			}

			.line{
				&:extend(.clearfix all);	
				padding-left:5px;

				.slick-slide, span{
					float:left;
					white-space:nowrap;
					margin-right:10px;
				}
			}

			.moreInfo{
				display:block;
				color:@invertedTextColor;

			}

		}
	}



	.ui.basic.segment.description{
		border-left:2px solid @black;
		padding-left:1rem;

		color:@invertedTextColor !important;

		h3{
			margin-top:1rem;
			margin-bottom:0;
		}
	}

	.ui.secondary.menu{
		border:none;
	}

	#footer{
		width:100%;
	}

	.ui.page.grid.searchdb{
		background:@black;
		color:@invertedTextColor;

		.ui.input 
		{
			i{ 
				color:@grey; 
			}
			input{
				background:transparent;
				border-color:@transparentWhite;
				color:@invertedTextColor;
			}
		}
	}
	.ui.page.grid.bottomline{
		color:@invertedTextColor;

		.admin{

			i{
				color:#292929 !important;
				margin-right: 0 !important;
				vertical-align:top;
			}

			a{
				vertical-align:top;
				border-bottom:1px solid #292929;	
				font-size:0.75rem;

				color:#292929 !important;
			}
		}
	}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

 .ir {
 	background-color: transparent;
 	border: 0;
 	overflow: hidden;
 	/* IE 6/7 fallback */
 	*text-indent: -9999px;
 }

 .ir:before {
 	content: "";
 	display: block;
 	width: 0;
 	height: 150%;
 }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

 .hidden {
 	display: none !important;
 	visibility: hidden;
 }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

 .visuallyhidden {
 	border: 0;
 	clip: rect(0 0 0 0);
 	height: 1px;
 	margin: -1px;
 	overflow: hidden;
 	padding: 0;
 	position: absolute;
 	width: 1px;
 }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

 .visuallyhidden.focusable:active,
 .visuallyhidden.focusable:focus {
 	clip: auto;
 	height: auto;
 	margin: 0;
 	overflow: visible;
 	position: static;
 	width: auto;
 }

/*
 * Hide visually and from screenreaders, but maintain layout
 */

 .invisible {
 	visibility: hidden;
 }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

 .clearfix:before,
 .clearfix:after {
 	content: " "; /* 1 */
 	display: table; /* 2 */
 }

 .clearfix:after {
 	clear: both;
 }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

 .clearfix {
 	*zoom: 1;
 }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 768px){
   	.ui.page.grid .row.container{
   		width:723px !important;
   	}
   }
   @media only screen and (min-width: 992px){
   	.ui.page.grid .row.container{
   		width:933px !important;
   	}
   }
   @media only screen and (min-width: 1200px){
   	.ui.page.grid .row.container{
   		width:1127px !important;
   	}

   }

   @media only screen and (min-width: 35em) {
   	/* Style adjustments for viewports that meet the condition */
   }

   @media print,
   (-o-min-device-pixel-ratio: 5/4),
   (-webkit-min-device-pixel-ratio: 1.25),
   (min-resolution: 120dpi) {
   	/* Style adjustments for high resolution devices */
   }

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

   @media print {
   	* {
   		background: transparent !important;
   		color: #000 !important; /* Black prints faster: h5bp.com/s */
   		box-shadow: none !important;
   		text-shadow: none !important;
   	}

   	a,
   	a:visited {
   		text-decoration: underline;
   	}

   	a[href]:after {
   		content: " (" attr(href) ")";
   	}

   	abbr[title]:after {
   		content: " (" attr(title) ")";
   	}

    /*
     * Don't show links for images, or javascript/internal links
     */

     .ir a:after,
     a[href^="javascript:"]:after,
     a[href^="#"]:after {
     	content: "";
     }

     pre,
     blockquote {
     	border: 1px solid #999;
     	page-break-inside: avoid;
     }

     thead {
     	display: table-header-group; /* h5bp.com/t */
     }

     tr,
     img {
     	page-break-inside: avoid;
     }

     img {
     	max-width: 100% !important;
     }

     @page {
     	margin: 0.5cm;
     }

     p,
     h2,
     h3 {
     	orphans: 3;
     	widows: 3;
     }

     h2,
     h3 {
     	page-break-after: avoid;
     }
 }




 body{
 	font-family: 'Open Sans', sans-serif !important;
 }


 .homePage_wrapper{
	// background:url('/static/images/bg_stage.jpg') top center;
	background: black;
	width:100vw;
	height: 100vh;
	z-index: 10;
	position: relative;
}

.movingImage{
	height: 40vh;
	width: 200vw;
	position: absolute;
	top: 30vh;

	img{
		height: 100%;
		margin-right: 67vw;
	}

	animation-duration: 50s;
	animation-iteration-count: infinite;
    // transform-origin: bottom;
}
.imageMove {
	animation-name: imageMove;
	animation-timing-function: linear;
}
@keyframes imageMove{
	0%   { transform: translateX(-100vw); }
	50%  { transform: translateX(0); }
	100% { transform: translateX(100vw); }
}




.menuBar{
	position: fixed;
	top: 45vh;
	width: 100vw;
	height: 60px;
	text-align: center;
	z-index: 1;

	.title{
		color: white;
		font-size: 4rem;
		font-weight: 100;
		display: inline-block;
		line-height: normal;
		margin-right: 6vw;
	}
	.menu{
		font-size: 1.5rem;
		font-weight: 100;
		/* align-items: center; */
		display: inline-flex;
		flex-direction: row;
		justify-content: center;
		text-align: center;

		a{
			color: white;
			font-weight: 100;
			margin: 0 2rem;
			max-width: 160px; 
			position: relative;
			width: 100%; 
			white-space: nowrap;
			.transition;

			&:hover{
				font-weight: 400;
				letter-spacing: 1px;
			}
			&:before {
				backface-visibility: hidden;
				border: 1px solid rgba(255,255,255,0);
				bottom: -12px;
				content: " ";
				display: block;
				margin: 0 auto;
				position: relative;
				transition: all 280ms ease-in-out;
				width: 0;
			}
			&:hover:before {
				backface-visibility: hidden;
				border-color: #fff;
				transition: width 350ms ease-in-out;
				width: 100%;
			}
		}
	}
}


.goToTop{
	top: 0;
	line-height: 60px;

	.title{
		font-size: 1.5rem;
	}

	.menu{font-size: 1.2rem}
}



.pageTile_wrapper{
	position: relative;
	height: 300px;
	// top: 60px;
	max-width: 1000px;
	margin: auto;
	color: white;
	margin-bottom: 5rem;

	.text_content{
		width: 60%;
		position: absolute;
		right: 10%;
		bottom: 0;
		text-align: right;

		.title{
			font-size: 4rem;
			line-height: 4rem;
			margin-bottom: 1rem;
		}
	}
}


.albums_wrapper{
	position: relative;
	min-height: 300px;
	max-width: 1000px;
	margin: auto;
	color: white;




}




