html, body{
	background: #FCF8F5;
}

.yonnyPage{
	.menuMobile input ~ nav{background: #FCF8F5 }
	.menuMobile input + label span{background: #555}
	.menuMobile input ~ nav > ul > li > a{color: #555}


	::-moz-selection { 
		background: rgb(251, 189, 8); 
	}
	::selection { 
		background: rgb(251, 189, 8); 
	}

	.pageTile_wrapper{
		color:#555;

	}

	.goToTop{
		background: transparent;
		max-width: 1200px;
		margin: auto;
		left: 3%;
		right: 3%;
		z-index: 1000000;

		.title{
			color: #555;
			line-height: 60px;
			float: left;
			font-size: 1.2rem;
			margin: 0;
		}

		.menu{
			font-size: 1.2rem;
			a{
				color: #555;
				&:hover:before, &.active:before {
					border-color: #888;
				}
			}
		}
	}

	.menuBar.yonnyMenu{
		position: relative;
		top: 0;


	}
}

.yonnyPhoto{
	max-width: 1200px;
	margin: auto;
	min-height: 240px;
	margin-bottom: 5rem;

	&:extend(.clearfix all);
	img{margin: 10px;}
}

.mask_top{
	top: 0;
	width: 100%;
	height: 250px;
	position: fixed;
	z-index: 1000;
	background: -moz-linear-gradient(top,  rgba(251,248,245,1) 0%, rgba(251,248,245,0) 100%); 
	background: -webkit-linear-gradient(top,  rgba(251,248,245,1) 0%,rgba(251,248,245,0) 100%); 
	background: linear-gradient(to bottom,  rgba(251,248,245,1) 0%,rgba(251,248,245,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbf8f5', endColorstr='#00fbf8f5',GradientType=0 );
	pointer-events: none;
}

.mask_bottom{
	bottom: 0;
	width: 100%;
	height: 250px;
	position: fixed;
	z-index: 1000;
	background: -moz-linear-gradient(top,  rgba(251,248,245,0) 0%, rgba(251,248,245,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(251,248,245,0) 0%,rgba(251,248,245,1) 100%);
	background: linear-gradient(to bottom,  rgba(251,248,245,0) 0%,rgba(251,248,245,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fbf8f5', endColorstr='#fbf8f5',GradientType=0 );
	pointer-events: none;
}

.yonny_poem_wrapper{

	position: relative;
	max-width: 1200px;
	margin: auto;
	margin-top: 120px;
	min-height: 100vh;
	z-index: 1;

	.poemList{
		padding-left: 15%;

		@media only screen and (max-width: 768px){
			width: 80%;
			padding: 0;
			margin: auto;
		}

		ul{
			list-style: none;;
			li{
				a{color: #333;}
				transition: all 0.5s ease;
				font-size: 1.3rem;
				line-height: 1.5;
				font-weight: 400;
				margin-bottom: 1.3rem;
				cursor: pointer;

				&:before{
					transition: all 0.5s ease;
					content: '>';
					width: 0;
					height: 20px;
					margin-right: 0;
					overflow: hidden;
					display: inline-block;
				}

				&:hover{
					&:before{
						width: 10px;
						margin-right: 10px;
					}
				}
			}
		}
	}

}

.imageWrapper{
	position: fixed;
	max-width: 1200px;
	margin: auto;
	margin-top: 120px;
	top: 0;
	right: 0;
	left: 0;



	.yonnyImage{
		position: absolute;
		right: 15%;
		top: 0;
		@media only screen and (max-width: 768px){
			opacity: .2;
			left: 15%;
		}
	}
}



