<div class="two fields">
  <div class="field">
    <label>Title</label>
    <div class="ui underlined input">
      <input placeholder="Titel" type="text" name="title" value="{{backup.title}}" required>
    </div>
  </div>
  <div class="field">
    <label>File Name</label>
    <div class="ui underlined input">
      <input placeholder="File name" type="text" name="fileName" value="{{backup.fileName}}" required>
    </div>
  </div>
</div>

<div class="field">
  <label>Description</label>
  <div class="ui underlined input">
    <textarea name="description">{{backup.description}}</textarea>
  </div>
</div>
