<div class="ui page grid footer">
	<div class="container row">
		<div class="center aligned column">
			<div class="ui inverted basic segment">
        <p class="copyright">© 2016 | ernst rudin
        {{#if user}}
        <a href="/logout"> | logout</a>
        {{/if}}
        </p>
      </div>
    </div>
  </div>
</div>
