<div class="ui page grid">
	<div class="container stackable row top">
		<p class="backToWebsite">
			<a href="/">< Back to Website</a>
		</p>

		<a href="/admin"><img width="250" height="67" class="logo" src="/static/images/logo_elneto.png" /></a>
	</div>
	<div class="container row">
		<div class="ui fluid inverted menu">
			<a href="/admin" class="{{#if active.dashboard}}active{{/if}} item">Dashboard</a>
			<a href="/admin/galery" class="{{#if active.list_galeries}}active{{/if}} item">Manage Galeries</a>
			<a href="/admin/cuadros" class="{{#if active.list_cuadros}}active{{/if}} item">Manage Cuadros</a>
			<a href="/admin/yonny-fotos" class="{{#if active.list_yonny_fotos}}active{{/if}} item">Manage Yonny En Fotos</a>
			<a href="/admin/poems" class="{{#if active.list_poems}}active{{/if}} item">Manage Poems</a>
			<a href="/admin/backup" class="{{#if active.list_backups}}active{{/if}} item">Manage Backups</a>
		</div>
	</div>
</div>
