<form id="poem-collection-form" class="ui inverted form" method="POST" action="/admin/poems/collection">
  <input type="hidden" name="id" value="{{poemCollection.id}}">
  <div id="errorMsgBox" class="ui error message">

  </div>
  <div class="inline field">
    <div class="ui toggle checkbox">
      <input type="checkbox" tabindex="0" name="visible" class="hidden" {{#if poemCollection.visible}}checked{{/if}}>
      <label>Visible</label>
    </div>
  </div>
  <div class="two fields">
    <div class="field">
      <label>Sammlung</label>
      <div class="ui underlined input">
        <input placeholder="Sammlung" type="text" name="title" value="{{poemCollection.title}}" required>
      </div>
    </div>
  </div>
  <button class="ui button" type="submit">Erstellen</button>
</form>
