<div class="ui page grid bottomline">
	<div class="container row">
		<div class="center aligned column">
			<p class="copyright">© 2016 | ernst rudin | <a href="/impressum">impressum</a></p>	
			<p class="admin"><a href="/admin">admin</a><i class="double angle right icon"></i></p>
		</div>
	</div>
</div>

