<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Elneto Fotos - Ernst Rudin</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link type="text/css" rel="stylesheet" href="/assets/commons.css" />
    <link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/ff2d2c4a-64b2-4789-879c-40facd89a49e.css"/>
    {{#if head_scripts}}
    <!-- custom styles -->
    {{> (head_scripts) }}
    {{/if}}
    
</head>
<body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        {{> page/header }}

        {{{body}}}

        {{> page/footer }}

        <script src="/assets/commons.chunk.js" charset="utf-8"></script>

        <!-- {{#if scripts}} -->
        <script src="/assets/{{scripts}}.js" charset="utf-8"></script>
        <!--         {{else}}
          <script src="/assets/default.bundle.js" charset="utf-8"></script>
          {{/if}} -->

</body>
</html>
